body{
    background-color: black;
    padding-bottom: 3%;
}
header h3 ,p{
    color: #EEEBDD;
    margin: 15px;
    
}

.form{
    max-width: 500px;
}
.bb{
    box-shadow: 10px 10px 5px 12px #EEEBDD;
    max-width:700px;
padding-top:7% ;
padding-bottom:7%;
margin-left: 5%;

}
.bb strong + .bb label{
    color: #EEEBDD;
}
.bb {
    color:#D8B6A4;
}
.form textarea{
   height:50px !important;
   
}
.companyform{
display: inline;
}
.bord button{
    background-color:#EEEBDD;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;

}
.show{
    background-color: #EEEBDD;
    border-radius: 5px;
    color: black;
}
.edit{
    background-color:#D8B6A4;
    border-radius: 5px;
    color: black;

}
.delete{
    background-color:#630000;
    border-radius: 5px;
    color: black;

}
.create{
    float: right;
}
.container{
    margin-top:70px;
}
 .bord ul{
     padding-left:5px;
 }
.bord a{
    color: black;
    font-weight: bold;
    padding-top: 5%;
    

}
table{
    color:#EEEBDD;

}

 table th {
    color:white;

 }
